*.udb
*.o
.DS_Store
sparc-EVA
sparc
.vscode
dev_tests/
*~
*#*#
/conda/
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.aux
/doc/.LaTeX/**/*.vrb
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.log
/doc/.LaTeX/**/auto/
/doc/.LaTeX/Manual.pdf*
/doc/.LaTeX/**/*.synctex*
/README.html
